In [1]:
import pandas as pd
import numpy as np

In [2]:
'''
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
'''

"\npd.set_option('display.max_rows', None)\npd.set_option('display.max_columns', None)\npd.set_option('display.width', None)\npd.set_option('display.max_colwidth', None)\n"

In [6]:
school_df = pd.read_csv('School.csv')
lesson_df = pd.read_csv('Lesson.csv')

In [7]:
school_df.shape
lesson_df.shape

(1620, 39)

In [8]:
len(list(lesson_df.columns))

39

In [9]:
lesson_df

,Type,Code,27-Jan-19,28-Jan-19,29-Jan-19,30-Jan-19,31-Jan-19,1-Feb-19,2-Feb-19,3-Feb-19,...,23-Feb-19,24-Feb-19,25-Feb-19,26-Feb-19,27-Feb-19,28-Feb-19,1-Mar-19,2-Mar-19,3-Mar-19,4-Mar-19
0,Low Tech,CBSE-English-G1-W1-D1-A Happy Child,79,93,37,89,50,84,75,68,...,464,307,346,468,381,172,37,257,285,188
1,Low Tech,CBSE-English-G1-W1-D2-Types of Houses,73,93,45,74,83,42,59,54,...,451,144,310,488,540,114,420,142,502,329
2,Low Tech,CBSE-English-G1-W1-D3-Feelings,41,50,30,17,25,59,100,24,...,546,48,39,586,453,384,563,443,24,542
3,Low Tech,CBSE-English-G1-W1-D4-Family,24,63,67,16,26,15,54,95,...,424,76,51,11,221,471,111,254,105,416
4,Low Tech,CBSE-English-G1-W1-D5-Animals and Babies,65,55,72,49,72,42,66,13,...,528,315,507,301,413,578,415,327,509,376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1615,High Tech,KA-EVS-G5-W3-D1-Types of communities and their...,70,79,85,53,84,30,50,34,...,439,5,555,421,146,419,192,341,191,440
1616,High Tech,KA-EVS-G5-W3-D2-Rural community- its occupatio...,48,47,64,62,87,16,31,22,...,421,420,267,218,422,275,330,399,287,257
1617,High Tech,KA-EVS-G5-W3-D3-Urban community- its life styl...,32,52,53,94,53,72,39,39,...,54,116,427,250,199,310,90,269,370,241
1618,High Tech,KA-EVS-G5-W3-D4-Tribal community,49,15,28,98,73,87,62,47,...,569,284,161,407,219,521,477,29,148,466
1619,High Tech,KA-EVS-G5-W3-D5-Revision-Community,95,38,14,59,89,67,12,22,...,211,38,66,438,479,41,208,163,401,80

In [10]:
lesson_df[lesson_df['Code']=="CBSE-English-G1-W1-D5-Animals and Babies"]

,Type,Code,27-Jan-19,28-Jan-19,29-Jan-19,30-Jan-19,31-Jan-19,1-Feb-19,2-Feb-19,3-Feb-19,...,23-Feb-19,24-Feb-19,25-Feb-19,26-Feb-19,27-Feb-19,28-Feb-19,1-Mar-19,2-Mar-19,3-Mar-19,4-Mar-19
4,Low Tech,CBSE-English-G1-W1-D5-Animals and Babies,65,55,72,49,72,42,66,13,...,528,315,507,301,413,578,415,327,509,376
274,High Tech,CBSE-English-G1-W1-D5-Animals and Babies,99,79,15,21,26,46,73,26,...,463,234,475,111,463,516,101,494,202,17

In [12]:
lesson_df[lesson_df["Type"]=="High Tech"].shape

(810, 39)

In [18]:
set(lesson_df["Code"].tolist())

{'CBSE-EVS-G3-W1-D1-Animals that live on trees, water and land.\r\n\r\n',
 'CBSE-EVS-G3-W1-D2-Animals that move from one place to another.\r\n\r\n\r\n',
 'CBSE-EVS-G3-W1-D3-Wild and domestic animals\r\n',
 'CBSE-EVS-G3-W1-D4-characteristics of animals',
 'CBSE-EVS-G3-W1-D5-Animals that live around a tree',
 'CBSE-EVS-G3-W2-D1-Diversity in plants',
 'CBSE-EVS-G3-W2-D2-Variety of leaves',
 'CBSE-EVS-G3-W2-D3-Leaves patterns',
 'CBSE-EVS-G3-W2-D4-Uses of trees',
 'CBSE-EVS-G3-W2-D5-Revision - The Plant fairy ',
 'CBSE-EVS-G3-W3-D1-Importance of water in our daily life',
 'CBSE-EVS-G3-W3-D2-Sources of water',
 'CBSE-EVS-G3-W3-D3-Containers for storage of water',
 'CBSE-EVS-G3-W3-D4-Ways to save water',
 "CBSE-EVS-G3-W3-D5-Revision- Water' O water",
 'CBSE-EVS-G4-W1-D1-Type of bridges.',
 'CBSE-EVS-G4-W1-D2-Ecosystems',
 'CBSE-EVS-G4-W1-D3-usage of Wheel and pulley',
 'CBSE-EVS-G4-W1-D4-Modes of transportation',
 'CBSE-EVS-G4-W1-D5-Revision- Going to school',
 'CBSE-EVS-G4-W2-D1-Ears of animals',
 'CBSE-EVS-G4-W2-D2-Skin of animals',
 'CBSE-EVS-G4-W2-D3-Mode of birth of animals',
 'CBSE-EVS-G4-W2-D4-Pet animals',
 'CBSE-EVS-G4-W2-D5-Revision - Ear to Ear',
 'CBSE-EVS-G4-W3-D1-Life and habits of elephants',
 'CBSE-EVS-G4-W3-D2-Advantages and disadvantages of living in groups',
 'CBSE-EVS-G4-W3-D3-Life of some animals in herds',
 'CBSE-EVS-G4-W3-D4-Domestication of animals',
 'CBSE-EVS-G4-W3-D5-Animals- Use for entertainment',
 'CBSE-EVS-G5-W1-D1-uses of the sense of smell.',
 'CBSE-EVS-G5-W1-D2-two types of vision',
 'CBSE-EVS-G5-W1-D3- how different animals hear',
 'CBSE-EVS-G5-W1-D4-how animals use sound to indicate danger',
 'CBSE-EVS-G5-W1-D5-Sleep time of animals on a 24 hour clock',
 'CBSE-EVS-G5-W2-D1-Snake Charmer',
 'CBSE-EVS-G5-W2-D2-Types of snakes, their key characteristics & uses',
 'CBSE-EVS-G5-W2-D3-Animals- Use for entertainment',
 'CBSE-EVS-G5-W2-D4-Laws for protection of animals',
 'CBSE-EVS-G5-W2-D5-Paper snake',
 'CBSE-EVS-G5-W3-D1-Different foods with different taste',
 'CBSE-EVS-G5-W3-D2-Identification of foods with taste and smell',
 'CBSE-EVS-G5-W3-D3-Process of digestion',
 'CBSE-EVS-G5-W3-D4-Importance of food and glucose in our body',
 'CBSE-EVS-G5-W3-D5-How to keep us healthy',
 'CBSE-English-G1-W1-D1-A Happy Child',
 'CBSE-English-G1-W1-D2-Types of Houses',
 'CBSE-English-G1-W1-D3-Feelings',
 'CBSE-English-G1-W1-D4-Family',
 'CBSE-English-G1-W1-D5-Animals and Babies',
 'CBSE-English-G1-W2-D1-Three little Pigs - the story',
 'CBSE-English-G1-W2-D2-Three little Pigs - part 2',
 'CBSE-English-G1-W2-D3-Farm Animals and their Home',
 'CBSE-English-G1-W2-D4-Jungle Animals and their Home',
 'CBSE-English-G1-W2-D5-Water Animals and their homes',
 'CBSE-English-G1-W3-D1-the poem - "After a bath"',
 'CBSE-English-G1-W3-D2-questions from "After a bath"',
 'CBSE-English-G1-W3-D3-Objects that go together',
 'CBSE-English-G1-W3-D4-Drawing about our friends',
 'CBSE-English-G1-W3-D5-Drawing curved line patterns',
 'CBSE-English-G2-W1-D1-First Day at School1',
 'CBSE-English-G2-W1-D2-First Day at School2',
 'CBSE-English-G2-W1-D3-Brush your Teeth',
 'CBSE-English-G2-W1-D4-Haldis Adventure',
 'CBSE-English-G2-W1-D5-Paddling Pool',
 'CBSE-English-G2-W2-D1-Days of the Week',
 'CBSE-English-G2-W2-D2-Capital Letters',
 'CBSE-English-G2-W2-D3-Using the words - Before and After',
 'CBSE-English-G2-W2-D4-the poem - Bells',
 'CBSE-English-G2-W2-D5-Bells and their sounds',
 'CBSE-English-G2-W3-D1-the poem - I am lucky',
 'CBSE-English-G2-W3-D2-Kang has a dream',
 'CBSE-English-G2-W3-D3-Actions of animals',
 'CBSE-English-G2-W3-D4-Using "can" and "cannot"',
 'CBSE-English-G2-W3-D5-the story - I want',
 'CBSE-English-G3-W1-D1-Good Morning1',
 'CBSE-English-G3-W1-D2-Good Morning2',
 'CBSE-English-G3-W1-D3-Magic Garden1',
 'CBSE-English-G3-W1-D4-Magic Garden2',
 'CBSE-English-G3-W1-D5-Magic Garden3',
 'CBSE-English-G3-W2-D1-the poem - Bird Talk',
 'CBSE-English-G3-W2-D2-Questions and Answers from Bird Talk',
 'CBSE-English-G3-W2-D3-Words that Rhyme',
 'CBSE-English-G3-W2-D4-The story - Nina and the baby sparrows part 1',
 'CBSE-English-G3-W2-D5-The story - Nina and the baby sparrows part 2',
 'CBSE-English-G3-W3-D1-putting a jumbled story correctly',
 'CBSE-English-G3-W3-D2-drawing a bird',
 'CBSE-English-G3-W3-D3-Describing words',
 'CBSE-English-G3-W3-D4-saying words using "sp-"',
 'CBSE-English-G3-W3-D5-saying words using "sc-"',
 'CBSE-English-G4-W1-D1-Wake Up1',
 'CBSE-English-G4-W1-D2-Wake Up2',
 'CBSE-English-G4-W1-D3-Wake Up3',
 'CBSE-English-G4-W1-D4-Wake Up4',
 'CBSE-English-G4-W1-D5-Wake Up-5',
 "CBSE-English-G4-W2-D1-The story - Neha's Alarm Clock Part 1",
 "CBSE-English-G4-W2-D2-The story - Neha's Alarm Clock Part 2",
 'CBSE-English-G4-W2-D3-Who and Whom',
 'CBSE-English-G4-W2-D4-how to use the words - was and were',
 'CBSE-English-G4-W2-D5-identifying positions of objects',
 'CBSE-English-G4-W3-D1-the poem - noses',
 'CBSE-English-G4-W3-D2-the poem - noses',
 'CBSE-English-G4-W3-D3-words to describe faces',
 'CBSE-English-G4-W3-D4-favourite fruits',
 'CBSE-English-G4-W3-D5-punctuation',
 'CBSE-English-G5-W1-D1-Ice Cream Man1',
 'CBSE-English-G5-W1-D2-Ice Cream Man2',
 'CBSE-English-G5-W1-D3-Ice Cream Man3',
 'CBSE-English-G5-W1-D4-Ice Cream Man4',
 'CBSE-English-G5-W1-D5-Ice Cream Man-5',
 'CBSE-English-G5-W2-D1-Different types of Ice-Cream',
 'CBSE-English-G5-W2-D2-Describing words',
 'CBSE-English-G5-W2-D3-Using describing words to describe Ice cream',
 'CBSE-English-G5-W2-D4-Making an Ice-Cream ',
 'CBSE-English-G5-W2-D5-Writing sentences',
 'CBSE-English-G5-W3-D1-the story - Wonderful Waste',
 'CBSE-English-G5-W3-D2-the story - Wonderful Waste',
 'CBSE-English-G5-W3-D3-story sequencing',
 'CBSE-English-G5-W3-D4-nouns and verbs',
 'CBSE-English-G5-W3-D5-the story - Bamboo Curry',
 'CBSE-Math-G1-W1-D1-Inside and Outside',
 'CBSE-Math-G1-W1-D2-Big and Small',
 'CBSE-Math-G1-W1-D3-Biggest Smallest',
 'CBSE-Math-G1-W1-D4-Top and Bottom',
 'CBSE-Math-G1-W1-D5-Revise Positions',
 'CBSE-Math-G1-W2-D1-Nearer and Farther',
 'CBSE-Math-G1-W2-D2-Nearest and Farthest',
 'CBSE-Math-G1-W2-D3-On and Under',
 'CBSE-Math-G1-W2-D4-Above and Below',
 'CBSE-Math-G1-W2-D5-The Positions, all over again',
 'CBSE-Math-G1-W3-D1-Matching similar shapes',
 'CBSE-Math-G1-W3-D2-Matching similar shapes',
 'CBSE-Math-G1-W3-D3-Rolling and sliding',
 'CBSE-Math-G1-W3-D4-Shapes of similar sizes',
 'CBSE-Math-G1-W3-D5-Use shapes to make figures',
 'CBSE-Math-G2-W1-D1-Long and Round Obejcts',
 'CBSE-Math-G2-W1-D2-Roll and Slide',
 'CBSE-Math-G2-W1-D3-Things that roll and slide',
 'CBSE-Math-G2-W1-D4-Tall and Short',
 'CBSE-Math-G2-W1-D5-Revise what is long and round ',
 'CBSE-Math-G2-W2-D1-Writing numbers from 1-50 in words',
 'CBSE-Math-G2-W2-D2-Writing numbers from 51-99 in words',
 'CBSE-Math-G2-W2-D3-Counting in Groups',
 'CBSE-Math-G2-W2-D4-Counting in Pairs and Fours',
 'CBSE-Math-G2-W2-D5-Finding More or Less',
 'CBSE-Math-G2-W3-D1-Ascending order',
 'CBSE-Math-G2-W3-D2-Descending order',
 'CBSE-Math-G2-W3-D3-Ordinal Numbers',
 'CBSE-Math-G2-W3-D4-Using Ordinal Numbers',
 'CBSE-Math-G2-W3-D5-Counting in groups of 10',
 'CBSE-Math-G3-W1-D1-Top, Side and Front View',
 'CBSE-Math-G3-W1-D2-Patterns on Dotted Paper',
 'CBSE-Math-G3-W1-D3-Understanding Mirror Halves',
 'CBSE-Math-G3-W1-D4-Number and Letters with Mirror Halves',
 'CBSE-Math-G3-W1-D5-Revise mirror halves',
 'CBSE-Math-G3-W2-D1-3 Digit Numbers',
 'CBSE-Math-G3-W2-D2-Skipping 3 Digit Numbers by 10s',
 'CBSE-Math-G3-W2-D3-Skipping 3 Digit Numbers by 50s',
 'CBSE-Math-G3-W2-D4-Expanded form of 3-Digit Numbers',
 'CBSE-Math-G3-W2-D5-Expanded form of 3-Digit Numbers',
 'CBSE-Math-G3-W3-D1-Number patterns',
 'CBSE-Math-G3-W3-D2-Common multiples - concept',
 'CBSE-Math-G3-W3-D3-Expanding 3 digit numbers using pictures',
 'CBSE-Math-G3-W3-D4-Counting and write number in standard form',
 'CBSE-Math-G3-W3-D5-Counting and write number in standard form',
 'CBSE-Math-G4-W1-D1-Brick Patterns',
 'CBSE-Math-G4-W1-D2-Faces of Bricks',
 'CBSE-Math-G4-W1-D3-Counting faces, edges and vertices of a brick',
 'CBSE-Math-G4-W1-D4-Brick making process.',
 'CBSE-Math-G4-W1-D5-Revise everything about bricks',
 'CBSE-Math-G4-W2-D1-Revise geometrical patterns in structures ',
 'CBSE-Math-G4-W2-D2-Fun estimations',
 'CBSE-Math-G4-W2-D3-Longer and Shorter',
 'CBSE-Math-G4-W2-D4-Heights',
 'CBSE-Math-G4-W2-D5-Meter and Centimeter',
 'CBSE-Math-G4-W3-D1-Converting m to cm',
 'CBSE-Math-G4-W3-D2-Solving word problems involving m and cm',
 'CBSE-Math-G4-W3-D3-Multiplication as repeated addition',
 'CBSE-Math-G4-W3-D4-Multiplication as repeated addition',
 'CBSE-Math-G4-W3-D5-Estimating time to nearest hour',
 'CBSE-Math-G5-W1-D1-Fish Tale- Use shapes to Draw Animals',
 'CBSE-Math-G5-W1-D2-Fish Tale- Estimating ',
 'CBSE-Math-G5-W1-D3-Fish Tale- Estimating',
 'CBSE-Math-G5-W1-D4-Read and Write Big numbers',
 'CBSE-Math-G5-W1-D5-Big Numbers Revision',
 'CBSE-Math-G5-W2-D1-Open and Closed Shapes',
 'CBSE-Math-G5-W2-D2-How Changing Angles Changes Shapes',
 'CBSE-Math-G5-W2-D3-Making Various Shapes by Changing Angles',
 'CBSE-Math-G5-W2-D4-Measuring angles using an angle tester',
 'CBSE-Math-G5-W2-D5-Making Different Angles using Paper and Body Parts',
 'CBSE-Math-G5-W3-D1-Angles in names',
 'CBSE-Math-G5-W3-D2-Angles in hands of clock',
 'CBSE-Math-G5-W3-D3-Making and using a degree clock',
 "CBSE-Math-G5-W3-D4-Using a 'D' to measure angles",
 "CBSE-Math-G5-W3-D5-Using a 'D' to measure angles",
 'KA-EVS-G1-W1-D1-"Animals that live on trees, water and land.\r\n\r\n"',
 'KA-EVS-G1-W1-D2-animal song.',
 'KA-EVS-G1-W1-D3-Draw and colour pictures of animals',
 'KA-EVS-G1-W1-D4-movement of animals.',
 'KA-EVS-G1-W1-D5-Revision- Animal Around us',
 'KA-EVS-G1-W2-D1-Plants around us',
 'KA-EVS-G1-W2-D2-Parts of plants',
 'KA-EVS-G1-W2-D3-Uses of plants',
 'KA-EVS-G1-W2-D4-Draw and colour parts of  plants',
 'KA-EVS-G1-W2-D5-Revision -  Plants Around Us',
 'KA-EVS-G1-W3-D1-Importance of water',
 'KA-EVS-G1-W3-D2-Daily activities that need water',
 'KA-EVS-G1-W3-D3-Sources of water',
 'KA-EVS-G1-W3-D4-How to save water',
 'KA-EVS-G1-W3-D5-Revision- Water',
 'KA-EVS-G2-W1-D1-various birds in your surroundings.',
 'KA-EVS-G2-W1-D2-different insects in our surroundings',
 'KA-EVS-G2-W1-D3-animals based upon their movements',
 'KA-EVS-G2-W1-D4-Draw and colour pictures of animals',
 'KA-EVS-G2-W1-D5-Revision- Introduction of Animals',
 'KA-EVS-G2-W2-D1-Domestic and wild animals',
 'KA-EVS-G2-W2-D2-Animal characterstics',
 'KA-EVS-G2-W2-D3-Rearing of animals - What, why',
 'KA-EVS-G2-W2-D4-Care of animals ',
 'KA-EVS-G2-W2-D5-Revision- Animal Rearing',
 'KA-EVS-G2-W3-D1-Different types of plants in our surroundings',
 'KA-EVS-G2-W3-D2-Parts of plants',
 'KA-EVS-G2-W3-D3-Plants of different shapes and sizes in our surrounding',
 'KA-EVS-G2-W3-D4-Different types of leaves and flowers in our surroundings',
 'KA-EVS-G2-W3-D5-Revision - Plants of backyard',
 'KA-EVS-G3-W1-D1-different types of animals.',
 'KA-EVS-G3-W1-D2-animals of various sizes. \r\n',
 'KA-EVS-G3-W1-D3-herbivores and carnivorous animals',
 'KA-EVS-G3-W1-D4-birds and their characterstics ',
 'KA-EVS-G3-W1-D5-Revision- A day in the garden',
 'KA-EVS-G3-W2-D1-Types of plants',
 'KA-EVS-G3-W2-D2-Crops',
 'KA-EVS-G3-W2-D3-Leaves and their characterstics',
 'KA-EVS-G3-W2-D4-Leaves and their characterstics',
 'KA-EVS-G3-W2-D5-Manure using the shed leaves',
 'KA-EVS-G3-W3-D1-Living and non-living things',
 'KA-EVS-G3-W3-D2-Similarities between plants and animals',
 'KA-EVS-G3-W3-D3-Differences between plants and animals',
 'KA-EVS-G3-W3-D4-Differences between plants and animals',
 'KA-EVS-G3-W3-D5-Revision- Judgement of the Owl',
 'KA-EVS-G4-W1-D1-similarities and differences between human beings and animals.',
 'KA-EVS-G4-W1-D2- characterstics (size, colour, food, habitat) of animals\r\n',
 'KA-EVS-G4-W1-D3-Uses of animals',
 'KA-EVS-G4-W1-D4-Characteristics of animals ',
 'KA-EVS-G4-W1-D5-Revision- The Animal Kingdom',
 'KA-EVS-G4-W2-D1-Behaviour of different animals',
 'KA-EVS-G4-W2-D2-A honey bee ',
 'KA-EVS-G4-W2-D3-Process of collecting honey',
 'KA-EVS-G4-W2-D4-Uses of honey',
 'KA-EVS-G4-W2-D5-Revision - Honey, sweet honey',
 'KA-EVS-G4-W3-D1-Forest',
 'KA-EVS-G4-W3-D2-Trees in forest and in our surroundings',
 'KA-EVS-G4-W3-D3-Uses of forest trees',
 'KA-EVS-G4-W3-D4-Importance of growing trees',
 'KA-EVS-G4-W3-D5-Revision-Go around the forest',
 'KA-EVS-G5-W1-D1-living and non-living things in our surroundings.\r\n',
 'KA-EVS-G5-W1-D2-characterstics of living beings\r\n',
 'KA-EVS-G5-W1-D3-Life cycle of a plant',
 'KA-EVS-G5-W1-D4-Protection of plants and animals',
 'KA-EVS-G5-W1-D5-Revision -Living world',
 'KA-EVS-G5-W2-D1-Importance of a family',
 'KA-EVS-G5-W2-D2-Family tree and relationships',
 'KA-EVS-G5-W2-D3-changes in the structure of a family',
 'KA-EVS-G5-W2-D4-Features of nuclear and joint families',
 'KA-EVS-G5-W2-D5-Revision- Family',
 'KA-EVS-G5-W3-D1-Types of communities and their features',
 'KA-EVS-G5-W3-D2-Rural community- its occupations, problesm and solutions',
 'KA-EVS-G5-W3-D3-Urban community- its life style, problems and solutions',
 'KA-EVS-G5-W3-D4-Tribal community',
 'KA-EVS-G5-W3-D5-Revision-Community',
 'KA-English-G1-W1-D1-Health is Happiness ',
 'KA-English-G1-W1-D2-Action words ',
 'KA-English-G1-W1-D3-Activities in the day ',
 'KA-English-G1-W1-D4-Healthy foods ',
 'KA-English-G1-W1-D5-Healthy foods ',
 'KA-English-G1-W2-D1-My family Tree',
 'KA-English-G1-W2-D2-Colours around us ',
 'KA-English-G1-W2-D3-Siri and her family and answer questions Part 1',
 'KA-English-G1-W2-D4-Siri and her family and answer questions Part 2',
 'KA-English-G1-W2-D5-Writing- Details about self',
 'KA-English-G1-W3-D1-Describing words',
 'KA-English-G1-W3-D2-Writing - Me and my family',
 'KA-English-G1-W3-D3-Text- Nine little birds',
 'KA-English-G1-W3-D4-Text- Nine little birds',
 'KA-English-G1-W3-D5-Greetings',
 'KA-English-G2-W1-D1-My sister and me ',
 'KA-English-G2-W1-D2-Action words ',
 'KA-English-G2-W1-D3-Raksha Bandhan ',
 "KA-English-G2-W1-D4-Grammar: use of 'Between'",
 'KA-English-G2-W1-D5-Plural nouns ',
 'KA-English-G2-W2-D1-Writing sentences - Rearrange words to make sentences ',
 'KA-English-G2-W2-D2-Opposites',
 'KA-English-G2-W2-D3-Pronouns ',
 'KA-English-G2-W2-D4-Rakhi say is righteous day ',
 'KA-English-G2-W2-D5-Rakhi say is righteous day and answer questions  ',
 'KA-English-G2-W3-D1-Grammar- Framing sentences by joining words',
 'KA-English-G2-W3-D2-Animals and their homes',
 'KA-English-G2-W3-D3-Writing practice',
 'KA-English-G2-W3-D4-Writing practice',
 'KA-English-G2-W3-D5-Revision - Raksha Bandhan',
 'KA-English-G3-W1-D1-Sports ',
 'KA-English-G3-W1-D2-Jumbo of Indian Cricket - Anil Kumble ',
 'KA-English-G3-W1-D3-Different Sportspeople ',
 'KA-English-G3-W1-D4-Indoor and Outdoor games ',
 'KA-English-G3-W1-D5-Action words ',
 'KA-English-G3-W2-D1-Writing sentences using action words ',
 'KA-English-G3-W2-D2-Picture writing ',
 'KA-English-G3-W2-D3-The poem "The best six doctors"',
 'KA-English-G3-W2-D4-The poem" Sports is fun"',
 'KA-English-G3-W2-D5-The poem "Sports is fun" and answer questions ',
 'KA-English-G3-W3-D1-Poem - The bear in tennis shoes',
 'KA-English-G3-W3-D2-Story - Tiger and mosquito and answer questions',
 'KA-English-G3-W3-D3-Story- All birds cannot fly and learn new words',
 'KA-English-G3-W3-D4-Story- All birds cannot fly and answer questions',
 'KA-English-G3-W3-D5-Opposite words using dis, un,im',
 'KA-English-G4-W1-D1-I want to fly ',
 'KA-English-G4-W1-D2-The three butterflies ',
 'KA-English-G4-W1-D3-Types of flowers ',
 'KA-English-G4-W1-D4-Types of insects ',
 'KA-English-G4-W1-D5-Tense - present and paste ',
 'KA-English-G4-W2-D1-Creating words using vowels "a,e,i,o,u"',
 "KA-English-G4-W2-D2-Grammar - Use of 'll ",
 'KA-English-G4-W2-D3-Joining two words to make another word',
 'KA-English-G4-W2-D4-The poem "Best friend"',
 'KA-English-G4-W2-D5-Writing - A paragraph about your best friend',
 'KA-English-G4-W3-D1-Picture Reading - Chandru',
 'KA-English-G4-W3-D2-Story "Speak the truth"',
 'KA-English-G4-W3-D3-Story "Speak the truth" and answer questions',
 'KA-English-G4-W3-D4-Punctuations in paragraphs',
 'KA-English-G4-W3-D5-Family member riddles',
 'KA-English-G5-W1-D1-Swami Vivekananda ',
 'KA-English-G5-W1-D2-Swami Vivekananda ',
 'KA-English-G5-W1-D3-Opposites ',
 'KA-English-G5-W1-D4-Kinds of sentences ',
 'KA-English-G5-W1-D5-Complete dialogues',
 'KA-English-G5-W2-D1-The poem "He did it"',
 'KA-English-G5-W2-D2-Th poem "He did it" and answer questions ',
 'KA-English-G5-W2-D3-The story "The nuclear test" and answer questions Part 1',
 'KA-English-G5-W2-D4-The story "The nuclear test" and answer questions Part 2',
 'KA-English-G5-W2-D5-The story "The nuclear test" and answer questions Part 3',
 'KA-English-G5-W3-D1-Grammar - Singular and plural nouns',
 'KA-English-G5-W3-D2-Grammar - Singular and plural nouns',
 'KA-English-G5-W3-D3-Writing - A day in your school',
 'KA-English-G5-W3-D4-Read the poem - Great grandmother',
 'KA-English-G5-W3-D5-Read the poem - Great grandmother and answer questions',
 'KA-Math-G1-W1-D1-Top and Bottom',
 'KA-Math-G1-W1-D2-Inside and Outside',
 'KA-Math-G1-W1-D3-Above/Below, Over/Under',
 'KA-Math-G1-W1-D4-Near and Far',
 'KA-Math-G1-W1-D5-Before and After',
 'KA-Math-G1-W2-D1-Sorting Shapes',
 'KA-Math-G1-W2-D2-Roll and Slide',
 'KA-Math-G1-W2-D3-2D Flat Objects',
 'KA-Math-G1-W2-D4-How to draw free hand shapes',
 'KA-Math-G1-W2-D5-how to draw a house using different shapes.',
 'KA-Math-G1-W3-D1-Match objects with equal number',
 'KA-Math-G1-W3-D2-Identify more less groups in pictures',
 'KA-Math-G1-W3-D3-Count numbers 1-5 in pictures',
 'KA-Math-G1-W3-D4-Match groups having equal number of objects (1-5)',
 'KA-Math-G1-W3-D5-Revising counting numbers 1-5',
 'KA-Math-G2-W1-D1-Straight Lines',
 'KA-Math-G2-W1-D2-Horizontal, Vertical and Slanting Lines',
 'KA-Math-G2-W1-D3-Straight and curved lines',
 'KA-Math-G2-W1-D4-Objects that roll and slide',
 'KA-Math-G2-W1-D5-Revise Lines',
 'KA-Math-G2-W2-D1-Numbers 1-100',
 'KA-Math-G2-W2-D2-Numbers 1-100 in words',
 'KA-Math-G2-W2-D3-Grouping objects into tens and units/ones',
 'KA-Math-G2-W2-D4-Place Value and Face Value',
 'KA-Math-G2-W2-D5-Expanding numbers ',
 'KA-Math-G2-W3-D1-Before, After and Between',
 'KA-Math-G2-W3-D2-Practice Before, After and Between',
 'KA-Math-G2-W3-D3-Big and Small numbers',
 'KA-Math-G2-W3-D4-Biggest and Smallest Numbers',
 'KA-Math-G2-W3-D5-Ascending Descending Order',
 'KA-Math-G3-W1-D1-Identify Shapes',
 'KA-Math-G3-W1-D2-Sides and Corners',
 'KA-Math-G3-W1-D3-Identify 2d and 3d shapes',
 'KA-Math-G3-W1-D4-Drawing 3d shapes',
 'KA-Math-G3-W1-D5-Cylinders',
 'KA-Math-G3-W2-D1-numbers 100-999',
 'KA-Math-G3-W2-D2-numbers 100-999 in words',
 'KA-Math-G3-W2-D3-Expanding numbers using place value',
 'KA-Math-G3-W2-D4-Skip counting',
 'KA-Math-G3-W2-D5-biggest and smallest numbers',
 'KA-Math-G3-W3-D1-After, before and between',
 'KA-Math-G3-W3-D2-Ascending Descending order',
 'KA-Math-G3-W3-D3-Framing numbers',
 'KA-Math-G3-W3-D4-Number lines',
 'KA-Math-G3-W3-D5-Using number line to answer questions',
 'KA-Math-G4-W1-D1-Understanding Perimeter',
 'KA-Math-G4-W1-D2-Calculating Perimeter',
 'KA-Math-G4-W1-D3-Understanding Area',
 'KA-Math-G4-W1-D4-Calclating Area. ',
 'KA-Math-G4-W1-D5-Revise Perimeter and Area',
 'KA-Math-G4-W2-D1- reading and writing 4-digit numbers',
 'KA-Math-G4-W2-D2-Preceding and succeding numbers',
 'KA-Math-G4-W2-D3-Place value of 4 digit numbers',
 'KA-Math-G4-W2-D4-Expanding 4 digit numbers',
 'KA-Math-G4-W2-D5-Converting expanded to standard form. ',
 'KA-Math-G4-W3-D1-Place and Face Value',
 'KA-Math-G4-W3-D2-Filling missing numbers in a numberline',
 'KA-Math-G4-W3-D3-Identifying largest and smallest in 4 digit numbers',
 'KA-Math-G4-W3-D4-4 digits in ascending and descending order',
 'KA-Math-G4-W3-D5-Forming 4 digit numbers from given numbers',

In [48]:
boards = ['CBSE', 'KA', 'MH', 'TS']
subjects = ['EVS', 'English', 'Math']
grades = ['G1', 'G2', 'G3', 'G4', 'G5']

In [19]:
code_list = lesson_df["Code"][0].split('-')

In [20]:
code_list

['CBSE', 'English', 'G1', 'W1', 'D1', 'A Happy Child']

In [51]:
#Board wise count
board_df = pd.DataFrame({"Board" : boards})
subject_df = pd.DataFrame({"Subject" : subjects})
grade_df = pd.DataFrame({"Grade": grades })
grade_df

  Grade
0    G1
1    G2
2    G3
3    G4
4    G5

In [52]:
dates = list(lesson_df.columns)
dates.remove('Type')
dates.remove('Code')

In [53]:
dates

['27-Jan-19',
 '28-Jan-19',
 '29-Jan-19',
 '30-Jan-19',
 '31-Jan-19',
 '1-Feb-19',
 '2-Feb-19',
 '3-Feb-19',
 '4-Feb-19',
 '5-Feb-19',
 '6-Feb-19',
 '7-Feb-19',
 '8-Feb-19',
 '9-Feb-19',
 '10-Feb-19',
 '11-Feb-19',
 '12-Feb-19',
 '13-Feb-19',
 '14-Feb-19',
 '15-Feb-19',
 '16-Feb-19',
 '17-Feb-19',
 '18-Feb-19',
 '19-Feb-19',
 '20-Feb-19',
 '21-Feb-19',
 '22-Feb-19',
 '23-Feb-19',
 '24-Feb-19',
 '25-Feb-19',
 '26-Feb-19',
 '27-Feb-19',
 '28-Feb-19',
 '1-Mar-19',
 '2-Mar-19',
 '3-Mar-19',
 '4-Mar-19']

In [54]:
for d in dates:
    board_df[d] = 0
    grade_df[d] = 0
    subject_df[d] = 0

In [55]:
subject_df

,Subject,27-Jan-19,28-Jan-19,29-Jan-19,30-Jan-19,31-Jan-19,1-Feb-19,2-Feb-19,3-Feb-19,4-Feb-19,...,23-Feb-19,24-Feb-19,25-Feb-19,26-Feb-19,27-Feb-19,28-Feb-19,1-Mar-19,2-Mar-19,3-Mar-19,4-Mar-19
0,EVS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,English,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Math,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
#Board wise count
def get_board_wise():
    for i in range(lesson_df.shape[0]):
        for j in dates:
            code = lesson_df["Code"][i].split('-')
            cnt = lesson_df[j][i]
            code = code[0]
            index = board_df.index[board_df['Board']==code].tolist()
            board_df.at[index[0], j] += cnt

In [62]:
#Grade wise count
def get_grade_wise():
    for i in range(lesson_df.shape[0]):
        for j in dates:
            code = lesson_df["Code"][i].split('-')
            cnt = lesson_df[j][i]
            code = code[2]
            index = grade_df.index[grade_df['Grade']==code].tolist()
            grade_df.at[index[0], j] += cnt

In [63]:
#Subjects
def get_subject_wise():
    for i in range(lesson_df.shape[0]):
        for j in dates:
            code = lesson_df["Code"][i].split('-')
            cnt = lesson_df[j][i]
            code = code[1]
            index = subject_df.index[subject_df['Subject']==code].tolist()
            subject_df.at[index[0], j] += cnt

In [64]:
get_board_wise()
get_subject_wise()
get_grade_wise()

In [68]:
board_df["Total"] = 0
grade_df["Total"] = 0
subject_df["Total"] = 0

In [70]:
def get_total():
    for i in range(board_df.shape[0]):
        for j in dates:
            cnt = board_df[j][i]
            board_df['Total'][i] += cnt
    for i in range(grade_df.shape[0]):
        for j in dates:
            cnt = grade_df[j][i]
            grade_df['Total'][i] += cnt
    for i in range(subject_df.shape[0]):
        for j in dates:
            cnt = subject_df[j][i]
            subject_df['Total'][i] += cnt

In [72]:
get_total()

/home/fish/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/fish/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/fish/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [73]:
grade_df

,Grade,27-Jan-19,28-Jan-19,29-Jan-19,30-Jan-19,31-Jan-19,1-Feb-19,2-Feb-19,3-Feb-19,4-Feb-19,...,24-Feb-19,25-Feb-19,26-Feb-19,27-Feb-19,28-Feb-19,1-Mar-19,2-Mar-19,3-Mar-19,4-Mar-19,Total
0,G1,15272,15016,15085,14640,14684,14704,14481,14252,14267,...,77665,77020,81824,85711,83447,79247,83971,79900,79088,1635278
1,G2,14667,14329,15012,15179,14648,15080,14307,14517,14752,...,83200,79307,81247,76910,83219,74660,82024,77750,82623,1622624
2,G3,20251,19529,20121,20089,20690,19289,20028,19907,19911,...,104573,112134,106258,108111,115720,111786,106423,114926,108913,2198068
3,G4,20285,20005,20309,19803,19613,18831,19636,19596,19014,...,107741,107882,107212,103569,104784,113541,109720,100844,105428,2169597
4,G5,19879,19370,19007,19604,20263,20368,19580,19504,19386,...,100960,105463,102331,107967,105856,107983,108534,105468,107823,2158481

In [75]:
subject_df

,Subject,27-Jan-19,28-Jan-19,29-Jan-19,30-Jan-19,31-Jan-19,1-Feb-19,2-Feb-19,3-Feb-19,4-Feb-19,...,24-Feb-19,25-Feb-19,26-Feb-19,27-Feb-19,28-Feb-19,1-Mar-19,2-Mar-19,3-Mar-19,4-Mar-19,Total
0,EVS,24213,23300,23721,23402,24260,22871,22853,22536,22546,...,125711,126661,121705,125927,129229,131685,134906,127151,122764,2566060
1,English,32792,32408,32498,33075,33754,32236,32521,32969,33169,...,177939,172179,177786,172060,183672,174060,180503,173069,183287,3613603
2,Math,33349,32541,33315,32838,31884,33165,32658,32271,31615,...,170489,182966,179381,184281,180125,181472,175263,178668,177824,3604385

In [76]:
grade_df

,Grade,27-Jan-19,28-Jan-19,29-Jan-19,30-Jan-19,31-Jan-19,1-Feb-19,2-Feb-19,3-Feb-19,4-Feb-19,...,24-Feb-19,25-Feb-19,26-Feb-19,27-Feb-19,28-Feb-19,1-Mar-19,2-Mar-19,3-Mar-19,4-Mar-19,Total
0,G1,15272,15016,15085,14640,14684,14704,14481,14252,14267,...,77665,77020,81824,85711,83447,79247,83971,79900,79088,1635278
1,G2,14667,14329,15012,15179,14648,15080,14307,14517,14752,...,83200,79307,81247,76910,83219,74660,82024,77750,82623,1622624
2,G3,20251,19529,20121,20089,20690,19289,20028,19907,19911,...,104573,112134,106258,108111,115720,111786,106423,114926,108913,2198068
3,G4,20285,20005,20309,19803,19613,18831,19636,19596,19014,...,107741,107882,107212,103569,104784,113541,109720,100844,105428,2169597
4,G5,19879,19370,19007,19604,20263,20368,19580,19504,19386,...,100960,105463,102331,107967,105856,107983,108534,105468,107823,2158481

In [86]:
for i in dates:
    grade_df.drop([i], axis = 1,inplace=True)

In [87]:
grade_df

  Grade    Total
0    G1  1635278
1    G2  1622624
2    G3  2198068
3    G4  2169597
4    G5  2158481

In [89]:
for i in dates:
    board_df.drop([i], axis = 1,inplace=True)
    subject_df.drop([i], axis = 1,inplace=True)

In [90]:
grade_df.to_json("grade_df.json", orient = 'records')
subject_df.to_json("subject_df.json", orient = 'records')
board_df.to_json("board_df.json", orient = 'records')

In [13]:
school_df

,Registration Date,City,School Name,Fee Segment,Board,Total Teachers,Total Students,27-Jan-19,28-Jan-19,29-Jan-19,...,23-Feb-19,24-Feb-19,25-Feb-19,26-Feb-19,27-Feb-19,28-Feb-19,1-Mar-19,2-Mar-19,3-Mar-19,4-Mar-19
0,1/27/2019,Hyderabad,A,NaN,TS,66,208,39,11,40,...,15,6,1,9,28,12,28,19,7,13
1,1/27/2019,Hyderabad,B,NaN,TS,29,414,24,27,46,...,50,11,27,46,34,25,22,26,27,45
2,1/27/2019,Hyderabad,C,NaN,CBSE,72,327,16,20,50,...,35,9,37,42,6,14,22,38,27,42
3,1/27/2019,Mumbai,D,NaN,MH,43,308,12,35,37,...,38,3,22,24,36,18,25,37,31,7
4,1/27/2019,Hyderabad,E,NaN,TS,11,307,17,33,23,...,20,30,46,46,12,38,21,28,38,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,2/15/2019,Madhugiri,M4184561148,NaN,CBSE,89,331,0,0,0,...,41,29,48,44,24,12,25,21,42,20
295,2/18/2019,"Kangda, Himachal Pradesh",N1054895924,NaN,CBSE,63,416,0,0,0,...,28,29,32,34,3,9,5,47,25,39
296,1/27/2019,"Urmao, Karnataka",O78120633,NaN,CBSE,25,475,28,15,39,...,41,35,48,45,19,47,26,48,45,29
297,2/16/2019,Delhi,P8379684666,NaN,CBSE,40,226,0,0,0,...,49,5,7,19,13,29,38,21,29,14
298,2/21/2019,Warangal,Q479611576,NaN,CBSE,22,288,0,0,0,...,43,31,30,6,40,44,14,4,16,42

In [14]:
school_df.columns

Index(['Registration Date', 'City', 'School Name', 'Fee Segment', 'Board',
       'Total Teachers', 'Total Students', '27-Jan-19', '28-Jan-19',
       '29-Jan-19', '30-Jan-19', '31-Jan-19', '1-Feb-19', '2-Feb-19',
       '3-Feb-19', '4-Feb-19', '5-Feb-19', '6-Feb-19', '7-Feb-19', '8-Feb-19',
       '9-Feb-19', '10-Feb-19', '11-Feb-19', '12-Feb-19', '13-Feb-19',
       '14-Feb-19', '15-Feb-19', '16-Feb-19', '17-Feb-19', '18-Feb-19',
       '19-Feb-19', '20-Feb-19', '21-Feb-19', '22-Feb-19', '23-Feb-19',
       '24-Feb-19', '25-Feb-19', '26-Feb-19', '27-Feb-19', '28-Feb-19',
       '1-Mar-19', '2-Mar-19', '3-Mar-19', '4-Mar-19'],
      dtype='object')

In [17]:
len(set(school_df["City"].tolist()))

138